In [24]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
import pandas as pd
import numpy as np

In [33]:
loan_status = pd.read_csv('/home/bhavani/SecureT/credit_train.csv',header = 0,nrows=60)
loan_status = loan_status.dropna()
loan_status.columns = loan_status.columns.str.replace(' ', '')
loan_status.head(10)
loan_status.drop('LoanID', axis=1, inplace = True)
loan_status.drop('CustomerID', axis=1, inplace = True)
loan_status.drop('Bankruptcies', axis = 1, inplace = True)
loan_status.drop('NumberofOpenAccounts', axis = 1, inplace = True)
loan_status.drop('TaxLiens', axis = 1, inplace = True)
loan_status.drop('Yearsincurrentjob', axis = 1, inplace = True)

In [34]:
cols_to_transform = ['LoanStatus', 'Term', 'HomeOwnership', 'Purpose','NumberofCreditProblems'] 
data = pd.get_dummies(data = loan_status, columns = cols_to_transform)
loan_status.isnull()
cols_to_transform = ['LoanStatus', 'Term', 'HomeOwnership', 'Purpose','NumberofCreditProblems'] 
data = pd.get_dummies(data = loan_status, columns = cols_to_transform)

In [35]:
data

,CurrentLoanAmount,CreditScore,AnnualIncome,MonthlyDebt,YearsofCreditHistory,Monthssincelastdelinquent,CurrentCreditBalance,MaximumOpenCredit,LoanStatus_Charged Off,LoanStatus_Fully Paid,...,Term_Short Term,HomeOwnership_Home Mortgage,HomeOwnership_Own Home,HomeOwnership_Rent,Purpose_Buy House,Purpose_Debt Consolidation,Purpose_Take a Trip,Purpose_other,NumberofCreditProblems_0,NumberofCreditProblems_1
2,99999999,741.0,2231892.0,29200.53,14.9,29.0,297996,750090,0,1,...,1,0,1,0,0,1,0,0,0,1
6,217646,730.0,1184194.0,10855.08,19.6,10.0,122170,272052,0,1,...,1,1,0,0,0,1,0,0,0,1
8,548746,678.0,2559110.0,18660.28,22.6,33.0,437171,555038,0,1,...,1,0,0,1,0,1,0,0,1,0
10,99999999,728.0,714628.0,11851.06,16.0,76.0,203965,289784,0,1,...,1,0,0,1,0,1,0,0,1,0
12,99999999,740.0,776188.0,11578.22,8.5,25.0,134083,220220,0,1,...,1,0,1,0,0,1,0,0,1,0
14,234124,727.0,693234.0,14211.24,24.7,46.0,28291,107052,0,1,...,1,0,0,1,0,1,0,0,0,1
17,666204,723.0,1821967.0,17612.24,22.0,34.0,813694,2004618,0,1,...,0,1,0,0,0,1,0,0,1,0
20,317108,687.0,1133274.0,9632.81,17.4,53.0,60287,126940,1,0,...,0,0,0,1,0,1,0,0,1,0
25,465410,688.0,1722654.0,15647.45,22.3,30.0,107559,488356,0,1,...,0,0,0,1,1,0,0,0,1,0
28,99999999,746.0,1749748.0,19247.19,20.0,32.0,224390,295240,0,1,...,1,1,0,0,0,1,0,0,1,0
39,449108,718.0,1454507.0,13090.43,28.8,21.0,193990,458414,0,1,...,1,1,0,0,0,1,0,0,1,0
40,688468,682.0,1494616.0,14697.07,16.6,50.0,343995,843854,1,0,...,0,0,0,1,0,1,0,0,1,0
44,311762,680.0,2211657.0,44601.74,14.5,15.0,213921,509652,0,1,...,0,1,0,0,0,1,0,0,1,0
46,129712,723.0,1465698.0,18199.15,19.4,6.0,45106,163218,0,1,...,1,0,1,0,0,1,0,0,0,1
47,287980,737.0,1013954.0,16138.60,18.6,13.0,223117,489302,0,1,...,1,1,0,0,0,1,0,0,1,0
51,219692,6610.0,527839.0,14207.63,17.0,48.0,254277,379918,1,0,...,0,0,0,1,0,1,0,0,1,0
53,374176,652.0,1239199.0,5163.25,36.6,42.0,126350,415602,1,0,...,0,1,0,0,0,0,0,1,1,0
54,99999999,730.0,2509520.0,34714.90,40.8,35.0,733324,1035496,0,1,...,0,1,0,0,0,1,0,0,1,0
55,176198,736.0,1902090.0,28372.89,15.4,7.0,206872,620554,1,0,...,1,1,0,0,0,1,0,0,1,0
58,130922,747.0,2261304.0,9761.25,16.1,30.0,110428,235488,0,1,...,1,0,0,1,0,1,0,0,1,0
59,174548,721.0,1620681.0,30522.74,15.0,27.0,40489,128832,0,1,...,1,0,0,1,0,0,1,0,1,0

In [37]:
X = data.drop('LoanStatus_Fully Paid', axis = 1)
y= data['LoanStatus_Fully Paid']

In [39]:
clf = DecisionTreeClassifier(max_depth = None, min_samples_split = 10, random_state = 0)
scores = cross_val_score(clf, X, y, cv =5)
scores.mean()

1.0

In [48]:
clf = RandomForestClassifier(n_estimators = 10,max_depth= None, min_samples_split = 2,random_state=0)
scores = cross_val_score(clf, X, y, cv =5)
scores.mean()

0.85